.qf-header {
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  display: flex;
}
.qf-header .qf-logo {
  height: 48px;
  flex: 1;
}
.qf-header .qf-logo img {
  max-height: 100%;
}
